<section class="register-wrapper">
    <div class="container wide">
        <div class="row">
            <a href="/">
                <img src="../../../assets/img/logo.png" alt="LOGO IMAGE">
            </a>
            <form>
                <div class="form-group">
                    <input tabindex="1" type="text" id="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input tabindex="2" type="password" id="password" class="form-control" placeholder="Mật khẩu">
                </div>
                <div class="form-group">
                    <input tabindex="3" type="password" id="re-password" class="form-control" placeholder="Nhập lại mật khẩu">
                </div>
                <button class="btn w-100">Đăng ký</button>
                <p>Bạn đã có tài khoản? <a href="/login">Đăng nhập</a></p>
            </form>
        </div>
    </div>
</section>